/* 
  Variáveis para cores:
  --fundo-principal
  --texto
  --texto-inverso
  --destaque
  --destaque-inverso
  --fundo-card
*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --fundo-principal: #dddddd;
  --fundo-card: #f0f0f0;
  --texto: #00020a;
  --texto-inverso: #ffffff;
  --destaque: #5c32a9;
  --destaque-2: #351c644d;
  --destaque-inverso: #8B4DFF;
}
body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* line-height: 1.5em; */
  background-color: var(--fundo-principal);
  color: var(--texto);
}

header{
  background-color: var(--destaque);
  color: var(--texto-inverso);
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  padding: 20px 5px;
  position: sticky;
  top: 0;
}

nav#menu ul{
  list-style: none;
  display: flex;
  gap: 10px;
}

nav#menu a{
  text-decoration: none;
  color: var(--texto-inverso);
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 50px;
  transition: background-color 0.3s, color 0.3s;
}

nav#menu a:hover{
  background-color: var(--destaque-2);
  /* color: var(--texto); */
}

main{
  display: grid;
  grid-template-columns: auto 90vw auto;
  margin-top: 15px;
}

section#ficha{
  grid-column: 2;
  background-color: var(--fundo-card);
  padding: 20px;
  border-radius: 6px;  
}
section#ficha img{
  width: 200px;
  aspect-ratio: 1/1;
  object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid var(--fundo-card);
  outline: 5px solid var(--destaque);
  display: block;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}
section#ficha h1{
  color: var(--destaque);
  margin: 15px 0;
  font-size: 1.5em;
  text-align: left;
}
div#social{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1.8em;
  margin-top: 15px;
}
div#social a{
  text-decoration: none;
  color: var(--texto);
  background-color: var(--fundo-card);
  border-radius: 25px;
  padding: 5px;
  transition: background-color .2s, color .2s;
}
div#social a:hover{
  color: var(--destaque);
  background-color: var(--fundo-principal);
}

section#detalhes{
  grid-column: 2;
}
article{
  background-color: var(--fundo-card);
  border-radius: 6px;
  padding: 20px;
  margin-top: 15px;
}
article>h2{
  color: var(--destaque);
  font-size: 1.4em;
  padding-bottom: 20px;
}


#skill-container{
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
}
#skill-container .item{
    font-size: 1em;
}
#skill-container .info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-top: 10px; */
  padding-bottom: 3px;
}
#skill-container .name{
  font-weight: bold;
  color: var(--texto);
}
#skill-container .percent{
  font-weight: bold;
  color: var(--destaque);
}
#skill-container .bar{
  width: 100%;
  height: 10px;
  background-color: var(--fundo-principal);
  border-radius: 25px;
}
#skill-container .progress{
  width: 100%;
  height: 10px;
  background-color: var(--destaque);
  border-radius: 25px;
}

#formacao-container{
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
}
#formacao-container .curso{
  background-color: var(--fundo-principal);
  border-radius: 6px;
  padding: 10px;
  border-left: 8px solid var(--destaque);
  transition: border-left .3s ;
}
#formacao-container .curso:hover{
  border-left: 12px solid var(--destaque-inverso);
  cursor: pointer;
}
#formacao-container .periodo{
  font-size: .8em;
  font-weight: bold;
  color: var(--texto);
}
#formacao-container .instituicao{
  color: var(--destaque);
  font-size: 1.1em;
  transition: font-size .3s;
}


#projetos-container{
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
}
#projetos-container .projeto{
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--fundo-principal);
  box-shadow: 2px 2px 2px #00020a23;
  padding: 10px;
  border-radius: 6px;
  transition: border .5s;
  transition: box-shadow .5s;
}
#projetos-container .projeto:hover{
  box-shadow: 1px 1px 3px var(--destaque);
}
#projetos-container .imagem{
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  overflow: hidden;
  border-radius: 6px;
}
#projetos-container .titulo{
  color: var(--destaque);
}
#projetos-container .projeto a{
  text-decoration: none;
  font-weight: bold;
  color: var(--destaque-inverso);
  font-size: .8em;
  padding:4px 8px;
  border-radius: 25px;
  line-height: 28px;
}
#projetos-container .projeto a:hover{
  color: var(--texto-inverso);
  border-radius: 25px;
  background-color: var(--destaque);
}

footer{
  background-color: var(--destaque);
  color: var(--texto-inverso);
  text-align: center;
  padding: 15px;
  margin-top: 20px;
  font-size: .9em;
}
footer a{
  text-decoration: none;
  color: var(--texto-inverso);
  font-weight: bold;
}
footer a:hover{
  color: var(--destaque-inverso);
}

@media  screen and (min-width: 769px) {
  #skill-container{
    grid-template-columns: 1fr 1fr;
  }

  #projetos-container .projeto{
    max-width: 700px;
  }
  #projetos-container{
    flex-direction: row-reverse;
    justify-content: space-around;
  }
  /* #projetos-container .info{
    max-width: 80%;
  } */
  #projetos-container .imagem{
    aspect-ratio: 1/1;
    /* max-width: 20%; */
  }
}